backend/.env
backend/.venv/

# Frontend environment files
frontend/.env.local
frontend/.env
# Frontend build artifacts
frontend/.next/
frontend/out/
frontend/tsconfig.tsbuildinfo
frontend/.DS_Store
frontend/app/.DS_Store
frontend/.vercel

# Frontend dependencies
frontend/node_modules/

# Mac cruft
.DS_Store
**/.DS_Store
